In [1]:
import pandas as pd
pd.options.display.float_format = '{:,.0f}'.format
# pd.options.display.int_format ='{:,}'.format

import os
from operator import itemgetter    
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
get_ipython().magic(u'matplotlib inline')
plt.style.use('ggplot')

In [2]:
import_csv_file = '../_data/operations_fulldata_nodup.csv'
df = pd.read_csv(import_csv_file)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128031 entries, 0 to 128030
Data columns (total 58 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   op_id              128031 non-null  int64
 1   subject_id         128031 non-null  int64
 2   hadm_id            128031 non-null  int64
 3   opdate             128031 non-null  int64
 4   age                128031 non-null  int64
 5   sex                128031 non-null  object
 6   weight             126611 non-null  float64
 7   height             127269 non-null  float64
 8   race               128031 non-null  object
 9   asa                124636 non-null  float64
 10  emop               128031 non-null  int64
 11  department         128031 non-null  object
 12  antype             128031 non-null  object
 13  icd10_pcs          128031 non-null  object
 14  category_desc      128031 non-null  object
 15  desc_short         128031 non-null  object
 16  category_id        128031 non-null  object
 17  orin_time          128031 non-null  int64
 18  orout_time         128031 non-null  int64
 19  opstart_time       128019 non-null  float64
 20  opend_time         128020 non-null  float64
 21  admission_time     128031 non-null  int64
 22  discharge_time     128031 non-null  int64
 23  anstart_time       127979 non-null  float64
 24  anend_time         127688 non-null  float64
 25  cpbon_time         2485 non-null    float64
 26  cpboff_time        2485 non-null    float64
 27  icuin_time         14590 non-null   float64
 28  icuout_time        14590 non-null   float64
 29  inhosp_death_time  1504 non-null    float64
 30  subject_id_y       127996 non-null  float64
 31  chart_time_x       127996 non-null  float64
 32  art_dbp            36467 non-null   float64
 33  art_mbp            37299 non-null   float64
 34  art_sbp            36554 non-null   float64
 35  bt                 27608 non-null   float64
 36  cvp                2641 non-null    float64
 37  hr                 111804 non-null  float64
 38  pip                83460 non-null   float64
 39  pmean              78972 non-null   float64
 40  rr                 97666 non-null   float64
 41  spo2               116709 non-null  float64
 42  vt                 85105 non-null   float64
 43  chart_time_y       98751 non-null   float64
 44  alp                36666 non-null   float64
 45  alt                38447 non-null   float64
 46  ast                38482 non-null   float64
 47  chloride           47609 non-null   float64
 48  creatinine         41954 non-null   float64
 49  glucose            45760 non-null   float64
 50  hb                 48883 non-null   float64
 51  hco3               33695 non-null   float64
 52  lymphocyte         38199 non-null   float64
 53  platelet           46472 non-null   float64
 54  potassium          65214 non-null   float64
 55  sodium             64839 non-null   float64
 56  total_bilirubin    34429 non-null   float64
 57  wbc                45806 non-null   float64
dtypes: float64(40), int64(10), object(8)
memory usage: 56.7+ MB

In [4]:
import_csv_file = '../_data/category_STD.csv'
pcd_STD = pd.read_csv(import_csv_file)

import_csv_file = '../_data/category_VOL.csv'
pcd_VOL = pd.read_csv(import_csv_file)

In [6]:
pcd_STD_filter = pcd_STD['category_id']
pcd_VOL_filter = pcd_VOL['category_id']

pcd_inscope = pd.concat([pcd_STD_filter,pcd_VOL_filter],ignore_index=True)
pcd_inscope

0      0B1
1      001
2      00P
3      0BQ
4      009
      ...
115    0VB
116    00B
117    0BB
118    0FB
119    0SB
Name: category_id, Length: 120, dtype: object

In [8]:
## Create a filtered data set bason on the number of targeted pcs codes  

operations_inscope_df = df[df['category_id'].isin(pcd_inscope)]
operations_inscope_df.shape
# Next, group by the 'PCD_description' and count the occurrences
# description_counts = operartions_inscope_df.groupby('desc_short').size().sort_values(ascending=False)

operations_inscope_df

,op_id,subject_id,hadm_id,opdate,age,sex,weight,height,race,asa,...,creatinine,glucose,hb,hco3,lymphocyte,platelet,potassium,sodium,total_bilirubin,wbc
0,484069807,178742874,229842382,0,30,F,48,153,Asian,NaN,...,1,NaN,9,NaN,27,232,4,138,NaN,6
1,446270725,158995752,257857903,0,70,M,43,169,Asian,NaN,...,1,NaN,11,18,38,124,4,140,0,NaN
2,478413008,133278262,277235295,0,35,F,54,NaN,Asian,NaN,...,NaN,NaN,13,NaN,8,244,NaN,NaN,NaN,18
7,466411896,100259714,241547739,1440,50,F,66,157,Asian,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,467425045,134213281,225860669,1440,60,F,62,154,Asian,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128026,449124488,138484174,228449654,4999680,50,F,58,162,Asian,2,...,NaN,127,NaN,24,NaN,NaN,4,134,NaN,NaN
128027,461252752,126772283,273139806,2880,70,F,53,162,Asian,2,...,1,NaN,NaN,NaN,NaN,NaN,4,142,NaN,NaN
128028,471834474,144363433,275833861,2880,65,F,51,152,Asian,2,...,1,NaN,NaN,NaN,NaN,NaN,4,143,NaN,NaN
128029,419787421,195835964,293939099,12960,85,M,74,171,Asian,4,...,NaN,171,NaN,23,NaN,NaN,4,137,NaN,NaN
128030,493136728,148443464,280269654,2880,70,M,78,182,Asian,2,...,NaN,185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
## Export IN_SCOPE to CSV for futher data preparation
operations_inscope_df.to_csv('../_data/operations_inscope_CATEGORIES.csv')

### Status Check:
* created a dynamic list of procedure codes based on surgery volume 
* created a second dynamic list of procedure coded based on LOS variance
* merged those lists to the 'in scope' category_id
* filtered the original dataset.