In [8]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

# Create a connection to your PostgreSQL database
engine = create_engine('postgresql://jamielepard:b3laf0nt3@192.168.0.29:5432/inspire')

# Read data from your tables into DataFrames
# df_combined_charts = pd.read_sql('SELECT * FROM tmp_equal_time', engine)
df_operation_pcd = pd.read_sql('SELECT * FROM operation_pcd', engine)
df_operation_pcd

,op_id,subject_id,hadm_id,case_id,opdate,age,sex,weight,height,race,...,opend_time,admission_time,discharge_time,anstart_time,anend_time,cpbon_time,cpboff_time,icuin_time,icuout_time,inhosp_death_time
0,484069807,178742874,229842382,None,0,30,F,48.0,153.0,Asian,...,1230.0,0,7195,1120.0,1235.0,NaN,NaN,NaN,NaN,NaN
1,446270725,158995752,257857903,None,0,70,M,43.0,169.0,Asian,...,1540.0,0,70555,1345.0,1540.0,NaN,NaN,1550.0,19595.0,69860.0
2,478413008,133278262,277235295,None,0,35,F,54.0,NaN,Asian,...,330.0,0,5755,215.0,340.0,NaN,NaN,NaN,NaN,NaN
3,468516791,116924034,299190423,None,17280,45,F,47.0,152.0,Asian,...,18070.0,0,25915,17950.0,18070.0,NaN,NaN,NaN,NaN,NaN
4,493866243,174229093,275813505,None,1440,50,F,76.0,160.0,Asian,...,2070.0,0,5755,1990.0,2070.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128026,449124488,138484174,228449654,None,4999680,50,F,58.0,162.0,Asian,...,5000570.0,4996800,5012635,5000390.0,5000570.0,NaN,NaN,NaN,NaN,NaN
128027,461252752,126772283,273139806,None,2880,70,F,53.0,162.0,Asian,...,3430.0,0,7195,3355.0,3430.0,NaN,NaN,NaN,NaN,NaN
128028,471834474,144363433,275833861,None,2880,65,F,51.0,152.0,Asian,...,3665.0,0,11515,3595.0,3670.0,NaN,NaN,NaN,NaN,NaN
128029,419787421,195835964,293939099,None,12960,85,M,74.0,171.0,Asian,...,13945.0,0,27355,13780.0,13950.0,NaN,NaN,13955.0,15120.0,NaN
128030,493136728,148443464,280269654,None,2880,70,M,78.0,182.0,Asian,...,3425.0,0,5755,3360.0,3430.0,NaN,NaN,NaN,NaN,NaN

In [4]:
df_vitals = pd.read_sql('SELECT * FROM vitals_postop', engine)
df_vitals

             op_id  subject_id  chart_time item_name  value
0        422459696   105320590     2488110       air    0.0
1        422459696   105320590     2488110    etsevo    0.0
2        422459696   105320590     2488110        hs  200.0
3        422459696   105320590     2488115        o2    0.0
4        422459696   105320590     2488115       air    0.0
...            ...         ...         ...       ...    ...
1640961  464047847   153710351        4055      spo2   76.5
1640962  464047847   153710351        4060      spo2   81.0
1640963  464047847   153710351        4065      spo2   80.0
1640964  464047847   153710351        4070      spo2   86.0
1640965  464047847   153710351        4215      spo2   83.0

[1640966 rows x 5 columns]

In [19]:
## JOINING (MERGING) Vitals and Operations

op_w_vitals_df = pd.merge(df_operation_pcd, df_vitals, 
                  on='op_id', 
                  how='left')
op_w_vitals_df = op_w_vitals_df[op_w_vitals_df['orout_time'] == op_w_vitals_df['chart_time']]
# clean up the column names after merging
operations_w_details = op_w_vitals_df.drop('subject_id_y', axis=1).rename(columns={'subject_id_x': 'subject_id'})

# --641229 rows × 35 columns

In [10]:
## LOAD the LABS

df_labs = pd.read_sql('SELECT * FROM labs_in_hospital', engine)
df_labs

          subject_id  chart_time      item_name  value
0          126131344        6270            crp   1.82
1          126131344        6270            crp   1.82
2          126131344        6270            wbc   7.24
3          126131344        6270            wbc   7.24
4          126131344        6270            rbc   4.23
...              ...         ...            ...    ...
18132390   148996934       17875        calcium   8.30
18132391   148996934       17875     phosphorus   3.80
18132392   148996934       17875            bun  13.00
18132393   148996934       17875  total_protein   6.50
18132394   148996934       17875        albumin   3.50

[18132395 rows x 4 columns]

In [20]:
## MERGE / JOIN Vitals to OP with Vitals dF

op_w_vitalslab_df = pd.merge(operations_w_details, df_labs, 
                  on='subject_id', 
                  how='left')

MemoryError: Unable to allocate 18.7 GiB for an array with shape (10, 251548400) and data type int64